/*@import url("../../.cache/wal/colors-waybar.css");*/

* {
    border: 0px;
    font-family: Material Design Icons, FontAwesome, Product Sans, JetBrainsMono Nerd Font;
    font-size: 11px;
    min-height: 20px;
}

window > box {
margin: 0px 5px 0px 5px;
background-color: rgba(0,0,0,0);
}
window#waybar {
  background-color: rgba(0, 0, 0,0);
  /*color: #cdff03;*/
  /*color: #7a7a7a;*/
  color: #ababab;
}
#workspaces button {
    border-radius: 0px;
    color: @color7;
}
#workspaces {
    color: @color7;
    border: 0px;
    box-shadow: inherit;
}

#workspaces button {
    background-color: transparent;
    color: @color8;
}
#workspaces button:hover {
    color: @color4;
    background-color: transparent;
}
#workspaces button.visible {
    color: @color7;
}
#workspaces button.focused {
    color: @color8;
}
#workspaces button.active {
    color: @color7;
}
#workspaces button.urgent {
    color: @color1;
}
.modules-center {
}
.modules-left {
}
.modules-right {
}
#tray,
#mode,
#window,
#temperature,
#temperature.critical,
#clock,
#cpu,
#custom-dunst,
#pulseaudio,
#disk,
#custom-cavar,
#hyprland-window,
#custom-album-art,
#wlr-taskbar,
#custom-dot,
#custom-vpnstatus,
#workspaces,
#custom-updates,
#taskbar,
#battery,
#backlight,
#network,
#mpd,
#memory,
#custom-media
{
background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  /*border-top: 1px solid #710296;
  border-left: 4px solid #710296;
  border-right: 4px solid #710296;
  border-bottom: 1px solid #710296;*/
  border-top: 1px solid #000000;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  border-bottom: 1px solid #000000;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 2px;
  margin-right: 0px;
  margin-top: 1px;
}
@keyframes blink {
    to {
        background-color: #220296;
        color: #220296;
    }
}
label:focus {
}
#custom-dot {
  padding-top: 0px;
  color: @color4;
}
#custom-vpnstatus {
  color: @color1;
  font-size: 20px;
}
#custom-spotify {
}
#memory {
}
#pulseaudio {
}
#pulseaudio.muted {
}
#tray {
}
#disk {
}
#window {
}
#clock {
}
